<md-card layout="row" layout-align="center center" flex>
    <md-card-title layout="column" layout-padding layout-align="center center" flex>
        <img src="../../img/L_de_lebflix.png" class="img-lebflix-init">
        <span class="md-title">Welcome to LebFlix</span>
        <span class="md-subhead">Search for your favorite series, put them on your profile or watchlist</span>
        <span class="md-subhead">And never forget the last episode you watched!</span>
    </md-card-title>
</md-card>

<md-content layout="column" data-layout-padding="none">
    <md-content layout layout-align="center center" layout-wrap>
        <md-button class="md-raised md-primary" ui-sref="app.login" flex="50">
            Login
        </md-button>
    </md-content>
    <md-content layout layout-align="center center" layout-wrap>
        <md-button class="md-raised md-primary" ui-sref="app.signup" flex="50">
            Sign Up
        </md-button>
    </md-content>
</md-content>